* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Federo", sans-serif;
  font-size: 20px;
  color: white;
  max-width: 1020px;
  min-width: 1020px;
  margin: auto;
  background-color: #ad612e;
}
header,
footer {
  color: white;
  padding: 0.5rem;
  background-color: black;
  display: grid;
  align-items: center;
}
main {
  background-color: black;
  margin-top: 5px;
}
h2 {
  padding: 20px 0px 20px;
}
h2,
h3,
h4 {
  margin-left: 30px;
}
p {
  color: white;
  font-size: 18px;
  padding: 0px 30px 20px 30px;
}
footer {
  grid-template-columns: 1fr 180px;
  grid-template-rows: 43px;
  height: 75px;
  padding: 20px;
  margin-top: 5px;
}

/*header*/
header {
  padding: 0.5rem;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 400px 40px;
  align-items: center;
  margin: 0px 0px 0px 0px;
  border-bottom: 10px solid rgb(70, 182, 73);
  border-top: 10px solid rgb(70, 182, 73);
}
header,
a,
link {
  color: white;
}
.top-bar {
  display: flex;
}
.top-title {
  padding: 30px 0px 0px 50px;
}
.logo {
  padding: 5px 0px 5px 30px;
}
.scales {
  margin-bottom: -5px;
}

/*navigation bar*/
.main-nav {
  list-style-type: none;
  display: flex;
  padding: 20px 20px 20px 0px;
  margin: 0;
  text-align: center;
  font-size: 20px;
}
.main-nav li {
  flex: 1 1 auto;
}
.main-nav a {
  display: block;
  padding: 5px 5px 6px 5px;
  text-decoration: none;
  background-color: rgb(70, 182, 73);
  border: 1px solid white;
  color: black;
}
.main-nav a:hover {
  color: white;
  background-color: #ad612e;
}
.main-nav .active {
  text-decoration: underline;
}

/*Page 1 Home*/
.snakepot {
  border-top: 10px dotted #ad612e;
  border-bottom: 10px dotted #ad612e;
}

/*Venomous*/
.div-one,
.div-two,
.div-three {
  display: grid;
  grid-template-columns: 600px 1fr;
}
.three-snakes p {
  grid-column: 2/3;
  text-align: left;
  padding: 65px 40px 0px 0px;
}
.three-snakes h3 {
  padding: 20px 0px 15px;
}
.three-snakes img {
  border: 5px solid rgb(70, 182, 73);
  text-align: center;
}
.sec-three,
.sec-four,
.sec-five {
  text-align: center;
}

/*Non-Venomous*/
#sec-six {
  padding: 20px 0px 20px;
  font-size: 1.5em;
  margin-top: 20px;
}
.nonvenom {
  display: grid;
  grid-template-columns: 360px 1fr 360px;
  text-align: center;
}
.nonvenom img {
  border: 5px solid rgb(70, 182, 73);
  margin-top: 10px;
}
.nonvenom h5 {
  margin-bottom: 20px;
  background-color: rgba(2, 110, 60, 0.5);
}

/*Page 2 Anatomy*/
/*Page 3 Bite*/
