body {
  font-family: "El Messiri", sans-serif;
  font-size: 20px;
  background-color: white;
  color: black;
  max-width: 1000px;
  margin: auto;
}
main {
  background-color: rgb(190, 214, 191);
}
header,
footer {
  background-color: rgb(190, 214, 191);
  padding: 10px;
}
nav {
  background-color: rgb(190, 214, 191);
  padding: 10px;
}
h1,
h2,
h3,
p {
  padding: 10px 20px 0px 20px;
}
.sssheet {
  margin-left: 25px;
}
