* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  max-width: 1020px;
  min-width: 1020px;
  margin: auto;
  background-color: rgb(155, 59, 24);
}
header,
footer {
  color: white;
  padding: 0.5rem;
  background-color: black;
  display: grid;
  align-items: center;
  margin: 0px 0px 4px;
}
main {
  background-color: black;
}

/*header*/
header {
  padding: 0.5rem;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 400px 40px;
  align-items: center;
  margin-top: 0;
}
header,
a,
link {
  color: white;
}
.top-bar {
  display: flex;
}
.top-title {
  padding: 30px 0px 0px 50px;
}
.logo {
  padding: 5px 0px 5px 30px;
}

/*navigation bar*/
.main-nav {
  list-style-type: none;
  display: flex;
  padding: 20px 20px 20px 0px;
  margin: 0;
  text-align: center;
  font-size: 20px;
}
.main-nav li {
  flex: 1 1 auto;
}
.main-nav a {
  display: block;
  padding: 5px 5px 6px 5px;
  text-decoration: none;
  background-color: rgb(62, 160, 62);
  border: 1px solid white;
}
.main-nav a:hover {
  color: black;
  background-color: white;
}
.main-nav .active {
  text-decoration: underline;
}
