* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Federo", sans-serif;
  font-size: 18px;
  color: white;
  max-width: 1020px;
  min-width: 1020px;
  margin: auto;
  background-color: #ad612e;
}
main {
  background-color: black;
  margin-top: 5px;
}
h2 {
  padding: 20px 0px 20px;
}
h2,
h3,
h4 {
  margin-left: 30px;
}
p {
  padding: 0px 30px 20px 30px;
}
header,
footer {
  background-color: black;
  display: grid;
  align-items: center;
}
footer {
  grid-template-columns: 1fr 180px;
  grid-template-rows: 43px;
  height: 75px;
  padding: 20px;
  margin-top: 5px;
}

/*header*/
header {
  grid-template-columns: 1fr 400px 40px;
  border-bottom: 10px solid rgb(70, 182, 73);
  border-top: 10px solid rgb(70, 182, 73);
}
.top-bar {
  display: flex;
}
.top-title {
  padding: 30px 0px 0px 50px;
}
.logo {
  padding: 5px 0px 5px 30px;
}
.scales {
  margin-bottom: -5px;
}

/*navigation bar*/
.main-nav {
  list-style-type: none;
  display: flex;
  padding: 20px 20px 20px 0px;
  text-align: center;
}
.main-nav li {
  flex: 1 1 auto;
}
.main-nav a {
  display: block;
  padding: 5px 5px 6px 5px;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(70, 182, 73);
  border: 1px solid white;
  color: black;
}
.main-nav a:hover {
  color: white;
  background-color: #ad612e;
}
.main-nav .active {
  text-decoration: underline;
}

/*Page 1 Home*/
.snakepot {
  border-top: 10px dotted #ad612e;
  border-bottom: 10px dotted #ad612e;
}

/*Venomous*/
.div-one,
.div-two,
.div-three {
  display: grid;
  grid-template-columns: 600px 1fr;
}
.three-snakes p {
  grid-column: 2/3;
  text-align: left;
  padding: 65px 40px 0px 0px;
}
.three-snakes h3 {
  padding: 20px 0px 15px;
}
.three-snakes img {
  border: 5px solid rgb(70, 182, 73);
  text-align: center;
  margin-bottom: 30px;
}
.sec-three,
.sec-four,
.sec-five {
  text-align: center;
}

/*Non-Venomous*/
#sec-six {
  padding: 20px 0px 20px;
  font-size: 1.5em;
  margin-top: 20px;
}
.nonvenom {
  display: grid;
  grid-template-columns: 360px 1fr 360px;
  text-align: center;
}
.nonvenom img {
  border: 5px solid rgb(70, 182, 73);
  margin-top: 10px;
}
.nonvenom h5 {
  font-size: 20px;
  margin-bottom: 20px;
  background-color: rgba(2, 110, 60, 0.5);
  padding: 2px 0px 6px;
}

/*Form*/
form {
  margin: 0 auto;
  width: 900px;
  padding: 30px;
  border: 3px solid rgb(70, 182, 73);
  color: white;
  text-align: center;
  text-shadow: 2px 2px 0px #ad612e;
  margin-bottom: 25px;
}
h6 {
  font-size: 24px;
}
ul {
  list-style: none;
}
li {
  padding: 10px;
}
label {
  display: inline-block;
  width: 80px;
  text-align: right;
}
input {
  font: 18px sans-serif;
  width: 250px;
  border: 1px solid rgb(1, 50, 58);
  background-color: white;
}
button {
  background-color: rgb(70, 182, 73);
  color: white;
  padding: 5px 10px;
  font-weight: bold;
}

/*Page 2 Anatomy*/
.one,
.two,
.three,
.four,
.five,
.six,
.seven {
  display: grid;
  grid-template-columns: 250px 1fr;
}
.anatomy-page p {
  grid-column: 2/3;
  text-align: left;
  padding: 2px 40px 0px 20px;
}
.anatomy-page h3 {
  padding: 6px 0px 6px 20px;
  margin: 30px 0px 0px 0px;
  background-color: rgb(148, 41, 14);
}
.anatomy-page img {
  border: 5px solid rgb(70, 182, 73);
  margin: 30px 0px 30px 40px;
}
.more-facts {
  text-align: center;
}
.more-facts h4 {
  font-size: 24px;
  background-color: rgb(148, 41, 14);
  margin-left: 0px;
  padding: 6px 0px 6px;
}
.more-facts p {
  padding: 2px 50px 40px 50px;
}
.more-facts h5 {
  font-size: 22px;
  text-shadow: 3px 3px 0px rgb(148, 41, 14);
}
.blue {
  border-top: 10px dotted rgb(70, 182, 73);
}

/*Page 3 Bite*/
.bite-marks {
  margin: 0px 30px 0px 27px;
}
.bite-marks img {
  border: 5px solid rgb(70, 182, 73);
  margin: 0px 5.5px 0px 5.5px;
}
.do,
.dont {
  color: black;
  width: 475px;
  height: 500px;
}
.do p,
.dont p {
  color: black;
  font-size: 20px;
  line-height: 2em;
}
.tips {
  display: grid;
  margin: 30px 20px 0px 30px;
  padding-bottom: 30px;
}
.tips h3 {
  font-size: 28px;
  text-decoration: underline;
  font-weight: bold;
  padding: 20px 0px 20px;
}
.do {
  grid-column: 1/2;
  border: 5px solid rgb(70, 182, 73);
  background-color: rgb(236, 248, 236);
}
.dont {
  grid-column: 2/3;
  border: 5px solid #ad612e;
  background-color: rgb(255, 226, 217);
}
.symptoms h4 {
  font-size: 28px;
  margin-bottom: 20px;
  text-shadow: 3px 3px 0px rgb(148, 41, 14);
}
.symptoms {
  margin: 20px 0px 30px 25px;
}
.curled {
  border-top: 10px dotted #ad612e;
}
