@media only screen and (min-width: 640px) {

 /* ------Tuesday Banner------ */
    #banner {
        font-size: 1.2rem;
    }
 /* ------Header------ */
    header {
        grid-template-columns:  120px auto 80px 40px;
    }
    
    header .social img {
        width: 40px;
    }

    h1 {
        font-size: 40px;
        line-height: .6; 
    }
        
    #smtitle {
        font-size: 21px;
    }
    
    nav ul li a {
    padding: .3rem .6rem;
    }
    
    /* ------tablet grid layout------ */
    .boxes {
        grid-template-columns: 60% 40%;
        gap: 25px;
        padding: 25px;
    }
    
    .hero {
        grid-column: 1/3;
    }
    
    .event {
        grid-row: 5/6;
    }
        
    .weather {
        grid-template-columns: 100px 1fr;
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .weather p {
        font-size: 1.1rem;
    }

    @media only screen and (min-width: 730px) {
        .weather {
             grid-template-columns: 100px 1fr;
        }
    }
    
    .news {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    
    .join {
        display: flex;
        flex-direction: column;
        grid-column: 1/3;
        grid-row: 3/4;
        padding: 30px 50px;
    }

.join-cta, .hero-cta {
    font-size: 1.3rem; 
}
    
    .spotlight {
        grid-column: 1/3;
        grid-row: 4/5;
        grid-template-columns: 1fr 1fr;
    }
    
    /* ------footer------ */
    .lower {
        grid-template-columns:  150px 1fr 1fr;
        padding: 15px 40px 10px 40px;
        align-items: center;
    }
    .web {
        text-align: right;
    }

    }