* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Catamaran', sans-serif;
    margin: 0 auto;
    max-width: 1700px;
}

img {
    width: 100%;
}
/* ----------Header--------------- */
header {
    display: grid;
    grid-template-columns:  75px 1fr 60px 35px;
    column-gap: 10px;
    align-items: center;
    padding: 20px 20px 10px 20px; 
}

header,
footer {
   background: linear-gradient(0.25turn, #f9d4d5, #faedd9, #d4fae6, #d5defb);
}

header .social {
    display: flex;
    padding-top: 10px;
    gap: 8px;
}

header .social img {
    width: 30px;
}

header p {
    grid-column: 1/5;
    text-align: center;
    padding: 5px 0 5px;
    margin-top: 10px;
    background: linear-gradient(0.25turn,#028c45, #21409a);
    border: 2px solid #000000;
    color: white;
}

/* ---------Main------------ */
main { 
    background: linear-gradient(0.25turn, #8c181b, #f7a92b, #028c45, #21409a);
    border-top: 10px solid #ffffff;
    border-bottom: 10px solid #ffffff;
    padding: 15px;
}

h1 {
    font-size: 24px;
    line-height: .6;   
    text-align: left;
}

.news h2, .hero h2 {
    color: rgb(232, 232, 232);
    text-shadow: 2px 4px 4px black;
    line-height: 1.6rem;
}

.event h2, .weather h2, .join h2 {
    text-shadow: 2px 2px 3px rgb(175, 175, 175);
    line-height: 1.3rem;
}

h3 {
    text-align: center;
}
 

#smtitle {
    font-size: 12px;
}

/* ------------navigation bar------------- */
nav {
    position: relative;
    margin: 0 auto;
    font-weight: 600;
}

nav ul {
    list-style-type: none; 
    position: absolute;  
}

nav ul li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: #000000;
    text-align: center;
    text-decoration: none;   
    background: linear-gradient(to bottom, #8c181b, #f7a92b, #028c45, #21409a) top / var(--d, 0);
    transition: .2s;
}

nav ul li a:hover {
    color: white;
    font-weight: 600;
    --d: 100%;   
}

nav button {
    background: transparent;
    padding: 6px;
    font-size: 1.5rem;
    font-weight: bold;
}

nav button:hover {
    color: white;
    background: linear-gradient(to bottom, #8c181b, #f7a92b, #028c45, #21409a) top / var(--d, 0);
    transition: .2s;
    --d: 100%;
}

#mainNav .active {
    font-weight: 800;
    color: #8c181b;
}

#mainNav {
    right: 35px;
    top: -20px;
    width: 20vw;
    border: 2px solid black;
    background: linear-gradient(0.5turn, #f9d4d5, #faedd9, #d4fae6, #d5defb);
    
}

nav ul {display: none;}
nav ul.open {display: block;
    top: 80px;
}

#menuButton span:nth-child(1) {display: block;}
#menuButton span:nth-child(2) {display: none;}

#menuButton.open span:nth-child(1) {display: none;}
#menuButton.open span:nth-child(2) {display: block;}

/* ------------mobile grid layout--------------- */
.boxes {
    display: grid;
    gap: 15px;
}

.boxes div {
    border: 1px solid #000000;
}

.join, .weather, .event {
    background-color: white;
    padding: 20px;
}

.join h2, .weather h2, .event h2 {
    padding-bottom: 10px;
}

.boxes h2, .boxes p {
    text-align: center;
}
/* ------Hero Box------ */
.boxes .hero img, .boxes .news img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero, .news {
    position: relative;
}

 .hero-title {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}

/* ------CTA Buttons------ */
 .hero-cta a {
     position: absolute;
     top: 30px;
     right: 30px;
 }

 .hero-cta a, .join-cta a  {
     color: white;
     background-color: #4371fb;
     border: 2px solid black;
     border-radius: .5rem;
     box-shadow: 0 0 15px rgb(33, 33, 33);
     padding: 6px 15px;
     fontsize: 1rem;
     font-weight: bold;
     text-decoration: none;
 }

 .hero-cta a:hover, .join-cta a:hover {
    background-color: #8c181b;
}

/* ------Event Box------ */
.event p, .join p {
    line-height: 1;
    font-size: 1rem; 
}
 
/* ------Weather Box------ */
.wind {
    width:150px;   
}

.speed-chill, .temp-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    list-style-type: none;
    text-align: right;
    padding-right: 20px;
}

.wind {
    grid-row: 1/3;
}

.weather p {
    padding-left: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}



.condition {
    grid-column: 2/3;
    grid-row: 2/3;
}

/* ------News------ */ 
.news-title {
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
}

.news p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 15px 0;
    background: linear-gradient(to right, rgba(247, 169, 43, .7), rgba(2, 140, 69, .7));
    line-height: 1.1rem;
    color: white;
}

/* -------Join Box------ */
.join {
    display: none; 
}

.join p {
    padding-top: 10px;
}

/* ------Spotlight Box------ */
.spotlight {
    display: grid;
    gap: 10px;
    height: 100%;
    grid-row: 5/7;
    border: 1px solid #000000;
    background-color: white;
    padding: 15px;
}    

.spotlight div:nth-child(3) {
    display: none;
}

.spotlight p {
    line-height: 1.1;
    font-size: .9rem;
}

.spotlight div {
    background: linear-gradient(0.75turn, #f9d4d5, #faedd9, #d4fae6, #d5defb);
    padding: 15px 30px;
}

.spotlight h3 {
    font-size: 20px;
    text-shadow: 2px 2px 3px rgb(168, 168, 168);
    line-height: 1.3rem;
    padding-bottom: 10px;
}

/* ------Footer------ */
footer section {
    display: grid;
    text-align: center;
    padding: 10px;
}

.bottom-logo {
    width: 125px;  
    margin-top: 10px; 
}

.address {
    line-height: 1.5rem;
    padding-bottom: 10px;
    font-weight: 600;
}

footer a {
    text-decoration: none;
    color: #000000;
}

.web a img {
    box-shadow: none;
    width: 20px;
}

footer #lastline {
    text-align: center;
    font-size: .95rem;
    padding: 10px;
}

/* ------Tuesday Banner------ */
#banner {
    display: none;
    text-align: center;
    background: linear-gradient(0.25turn, #fe3d44, #fac97b, #33d17f, #4371fb);
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-top : 5px dotted black;
    border-bottom : 5px dotted black;
    line-height: .9;
}

#close {
    padding: 3px;
    background-color: #f7c72b;
}