body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  max-width: 960px;
  margin: auto;
  padding: 0px;
  background-color: rgb(136, 150, 113);
}

header,
footer {
  border: 1px solid black;
  padding: 0.5rem;
  background-color: rgb(62, 80, 62);
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  grid-template-columns: 1fr 550px 50px;
  margin: 0px 0px 5px 0px;
}

header,
a,
link {
  color: white;
}
main {
  padding: 20px;
  background-color: rgb(121, 112, 96);
}
.main-nav {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 24px;
}
.main-nav li {
  flex: 1 1 auto;
}
.main-nav a {
  display: block;
  padding: 12px;
  text-decoration: none;
  background-color: rgb(136, 150, 113);
  border: 1px solid rgba(255, 255, 255, 0.397);
}
.main-nav a:hover {
  color: black;
  background-color: white;
}

h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  shadow: 3px 3px 5px black;
  margin-top: 10px;
}
h2,
p {
  margin: 0;
}
h3 {
}
h3,
h4,
h5 {
  color: white;
  font-size: 2.4rem;
}
p {
  color: white;
  line-height: 1.5rem;
}

footer {
  grid-template-columns: 1fr 180px;
  height: 50px;
  margin: 5px 0px 0px 0px;
}

/* class selectors */
.page {
  max-width: 960px;
  margin: 0 auto;
}
.logo {
  width: 250px;
  height: auto;
  padding: 8px 8px 8px 30px;
}
.name {
  text-align: center;
}
.banner-image {
  max-width: 920px;
  height: auto;
  position: relative;
  margin: 0 auto;
}
.callbutton {
  position: absolute;
  top: 25px;
  right: 25px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid orangered;
  padding: 10px;
  box-shadow: 0 0 20px black;
  text-align: center;
}
.callbutton p {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

/*grid selectors*/
.two {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 300px 300px;
}
.life {
  grid-row: 1/2;
  grid-column: 1/2;
}
.greenriver {
  grid-row: 1/2;
  grid-column: 2/3;
}
.calm {
  grid-row: 2/3;
  grid-column: 1/3;
}
