* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 19px;
  max-width: 1000px;
  min-width: 1000px;
  margin: auto;
  padding: 0px;
  background-color: rgb(136, 150, 113);
}

header,
footer {
  border: 1px solid black;
  padding: 0.5rem;
  background-color: rgb(62, 80, 62);
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  grid-template-columns: 1fr 550px 50px;
  margin: 0px 0px 5px 0px;
}
header,
a,
link {
  color: white;
}
main {
  background-color: rgb(121, 112, 96);
}
.main-nav {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 24px;
}
.main-nav li {
  flex: 1 1 auto;
}
.main-nav a {
  display: block;
  padding: 12px;
  text-decoration: none;
  background-color: rgb(136, 150, 113);
  border: 1px solid rgba(255, 255, 255, 0.397);
}
.main-nav a:hover {
  color: black;
  background-color: white;
}

h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  text-shadow: 3px 3px 5px black;
  margin-top: 10px;
}
h2 {
  border: 2px solid black;
  background-color: rgb(204, 149, 47);
}
h2,
p {
  margin: 0;
}
h3,
h4,
h5 {
  color: white;
  font-size: 40px;
  text-shadow: 3px 3px 5px black;
}
h5 {
  margin: 20px 0px 10px 0px;
}
p {
  color: white;
  line-height: 1.5rem;
}

footer {
  grid-template-columns: 1fr 180px;
  height: 75px;
  padding-left: 20px;
  margin-top: 10px;
}

/* class selectors */
.page {
  max-width: 960px;
  margin: 0 auto;
}
.logo {
  width: 250px;
  height: auto;
  padding: 8px 8px 8px 30px;
}
.name {
  text-align: center;
  padding-top: 25px;
}
.love,
.enjoy {
  text-align: center;
}
.banner-image {
  max-width: 920px;
  position: relative;
  margin: 20px;
  box-shadow: 0 0 20px black;
  justify-items: center;
}
.callbutton {
  position: absolute;
  top: 25px;
  right: 25px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 208, 0, 0.911);
  padding: 10px;
  box-shadow: 0 0 20px black;
  text-align: center;
}
.callbutton p {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

/*grid selectors*/
.two {
  display: grid;
  grid-template-columns: 1fr 525px;
  grid-template-rows: 110px 230px;
  margin-top: 45px;
}
.greenriver {
  grid-row: 2/3;
  grid-column: 1/2;
  text-align: center;
  margin: 0px 50px 0px 50px;
}
.calm {
  grid-row: 1/3;
  grid-column: 2/3;
  border: 2px solid rgb(54, 87, 50);
  box-shadow: 0 0 10px black;
  margin-right: 25px;
}
.life {
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: center;
}

.three {
  display: grid;
  grid-template-columns: 530px 1fr;
  grid-template-rows: 160px 180px;
  margin-top: 45px;
}
.runriver {
  grid-row: 1/2;
  grid-column: 2/3;
  text-align: center;
  margin-top: 30px;
  padding: 0px 25px 0px 25px;
}
.rapids {
  grid-row: 1/3;
  grid-column: 1/2;
  border: 2px solid rgb(54, 87, 50);
  box-shadow: 0 0 10px black;
  margin-left: 25px;
}
.shuttle {
  grid-row: 2/3;
  grid-column: 2/3;
  text-align: center;
  margin: 0px 50px 0px 50px;
}
.enjoy {
  margin: 25px 150px 0px 150px;
  padding-bottom: 50px;
}
.love {
  margin-top: 40px;
}
