body {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  background-color: rgb(116, 129, 98);
}

header,
footer {
  margin: 0 auto;
  border: 1px solid black;
  padding: 0.5rem;
  background-color: rgb(62, 80, 62);
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  grid-template-columns: 200px 1fr;
}

main {
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgb(121, 112, 96);
}
h1,
h2,
h3 {
  color: white;
  font-size: 2.2rem;
}
p {
  color: white;
}
footer {
  grid-template-columns: 1fr 300px;
}

/* class selectors */
.page {
  max-width: 960px;
  margin: 0 auto;
}
.logo {
  width: 100px;
  height: auto;
}
.banner-image {
  width: 900px;
  height: auto;
}
