@media only screen and (min-width: 800px) {
  body {
    margin: 0px auto;
    max-width: none;
  }
  h1 {
    font-size: 4rem;
  }
  header img {
    max-width: 125px;
    right: 700px;
  }
  .block {
    max-width: 900px;
  }
  .serv-img {
    margin: 40px 10px 5px;
  }
  .sp-services p {
    padding: 1.5rem 8rem 2rem;
  }
  .feature-para {
    padding: 2rem 8rem;
  }

  /*---Background Image Scrolls---*/
  .scroll {
    position: initial;
    background-attachment: fixed;
  }
  .scroll-lg {
    height: 450px;
  }
  .scroll-md {
    height: 325px;
  }
  .scroll-sm {
    height: 200px;
  }
  .scroll-auto {
    width: 50rem;
  }
  /*====Contact====*/
  .grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
  .con2 {
    margin: 50px 0 50px 50px;
    padding: 20px 40px 40px 40px;
  }
  .con-form {
    margin: 50px 50px 50px 0px;
    padding: 20px;
  }

  /*====Reservation====*/
  .res-form {
    margin: 50px 150px;
    padding: 15px;
  }

  /*====Services Page====*/
  .service-grid {
    display: grid;
    grid-template-columns: 350px 1fr;
  }
  .amenities p {
    grid-column: 2/3;
    text-align: left;
    margin: 20px 180px 0px 0px;
    padding: 2px 40px 0px 20px;
  }
  .amenities .sm-heading {
    font-size: 1.1rem;
    padding: 6px 0px 5px 20px;
    margin: 30px 150px 0px 0px;
    background: linear-gradient(
      to left,
      rgba(114, 148, 178, 0),
      rgba(114, 148, 178, 1)
    );
  }
  .amenities img {
    margin: 30px 0px 0px 145px;
  }
  .spacer2 {
    margin-top: 80px;
  }
  .special-services {
    margin: 0 80px;
  }

  /*=======TEMPLE PAGE======*/
  .temple-cards {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 10px 100px 10px 100px;
    gap: 40px;
  }
  .guest-rooms {
    margin: 10px 100px 10px 100px;
    gap: 40px;
  }
  .roomDiv, .tempDiv {
    margin: 0 auto;
  }

  /*========Missionary============*/
  .full-time {
    grid-template-columns: 350px 1fr 350px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .ftm2 {
    grid-column: 2/4;
  }
  .ftm3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .ftm4 {
    grid-column: 1/3;
  }
  .ftm5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .ftm6 {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  .ftm7 {
    grid-column: 3/4;
    grid-row: 4/5;
  }
  .ftm8 {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  /*=======WEDDING SLIDER==========*/
  
  .slideshow-container {
    Width: 800px;
    padding: 45px;
    position: relative;
    margin: 30px auto;
    background
  }
  
  .mySlides img {
    width: 100%;
    border: 4px solid #7294b2;
  }
   
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: white;
    font-size: 18px;
    font-weight: 600;
  }

  .text {
    text-align: center;
    font-size: 1.8rem;
    font-family: "Gwendolyn", cursive;
  }
  
  .next {
    right: -30px;
  }
  
  .prev {
    left: -30px;
  }

  /*=====BACKGROUND SCROLL IMAGES=====*/
  .dc-scroll {
    background-image: url("images/dcpl.webp");
  }
  .res-scroll {
    background-image: url("images/twins-l.webp");
  }
  .feature-scroll {
    background-image: url("images/dcday.jpeg");
  }
  .temple-scroll {
    background-image: url("images/tucsonlg.webp");
  }
  .slc-scroll {
    background-image: url("images/slakel.webp");
  }
  .draper-scroll {
    background-image: url("images/draperlg.webp");
  }
  .orl-scroll {
    background-image: url("images/thanksl.webp");
  }
  .poca-scroll {
    background-image: url("images/poca-l.webp");
  }
  .amen-scroll {
    background-image: url("images/amenities.webp");
  }
  .lob-scroll {
    background-image: url("images/lobby-lg.webp");
  }
  .peony-scroll {
    background-image: url("images/blush-l.webp");
  }
  .thanks-scroll {
    background-image: url("images/orlando-l.webp");
  }
  .room-scroll {
    background-image: url("images/japan.webp");
  }
  .weath-scroll {
    background-image: url("images/cloudy.webp");
  }
  .wedd-scroll {
    background-image: url("images/chair.jpg");
  }
}

