@media only screen and (min-width: 600px) {
  body {
    margin: 0px auto;
    max-width: 900px;
  }
  header {
    padding: 20px 60px;
  }
  header img {
    left: 40px;
    max-width: 100px;
  }
  h1 {
    font-size: 2.7rem;
  }
  button {
    font-size: 1.2rem;
  }

  /*===STYLING===*/
  .sec-title {
    font-size: 2.5rem;
  }
  .heading-banner {
    font-size: 2em;
    text-align: right;
  }
  .block {
    max-width: 600px;
    height: 100%;
  }
  .feature-para {
    padding: 2rem 4rem;
  }
  .grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }

  /*====Navigation Bar====*/
  .menu-link {
    display: none;
  }
  nav {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  nav li {
    float: left;
  }
  nav ul li a {
    padding: 20px;
    font-size: 1.05rem;
  }
  .menu {
    display: inline;
  }

  /*====Footer====*/
  footer div {
    padding: 20px 20px 0 0;
  }
  .lower {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 40px 10px 40px;
    align-items: center;
  }
  .web {
    text-align: right;
  }
  .address {
    text-align: left;
  }

  /*====Welcome====*/
  .little-image, .pill {
    float: left;
    margin: 0px 20px 15px 0px;
  }

  /*====Weather====*/
  .weather-days {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 50px;
  }
  .weather-days h2 {
    font-size: 2.5rem;
  }
  .weather-days aside {
    font-size: 2rem;
  }
  .weather-days p {
    font-size: 1.1rem;
  }

  /*====Services====*/
  .serv-img {
    margin: 40px 10px 5px;
  }
  .sp-services p {
    padding: 1.5rem 8rem 2rem;
  }

  /*====Reservation====*/
  .res-form {
    margin: 50px;
  }

  /*===Temple====*/
  .temple-cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .tempName {
    margin: 30px 0;
  }

  /*===ROOMS====*/
  .guest-rooms {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  /*===PICTURE SLIDER===*/
  .slide-container {
    margin: 20px 40px 20px;
    padding: 45px 45px 20px 45px;
  }
  .prev, .next {
    top: 50%;
  }  
  .next {
    right: -20px;
  }
  .prev {
    left: -20px;
  }
  .text {
    font-size: 2rem;
    font-family: "Gwendolyn", cursive;
    padding-top: 5px;
  }

  /*===Scroll====*/
  .scroll-lg {
    height: 400px;
  }
  .scroll-md {
    height: 275px;
  }
  .scroll-sm {
    height: 150px;
  }

  /*=====BACKGROUND SCROLL IMAGES=====*/
  .dc-scroll {
    background-image: url("images/dcpm.webp");
  }
  .res-scroll {
    background-image: url("images/twins-m.webp");
  }
  .feature-scroll {
    background-image: url("images/dcdaym.webp");
  }
  .temple-scroll {
    background-image: url("images/tucsonm.webp");
  }
  .slc-scroll {
    background-image: url("images/slakem.webp");
  }
  .draper-scroll {
    background-image: url("images/draperm.webp");
  }
  .orl-scroll {
    background-image: url("images/thanksm.webp");
  }
  .poca-scroll {
    background-image: url("images/poca-m.webp");
  }
  .amen-scroll {
    background-image: url("images/amenities-m.webp");
  }
  .lob-scroll {
    background-image: url("images/lobby-m.webp");
  }
  .peony-scroll {
    background-image: url("images/blush-m.webp");
  }
  .thanks-scroll {
    background-image: url("images/orlando-m.webp");
  }
  .room-scroll {
    background-image: url("images/japanm.webp");
  }
  .weath-scroll {
    background-image: url("images/cloudym.webp");
  }
  .wedd-scroll {
    background-image: url("images/chairm.webp");
  }
  .mission-scroll {
    background-image: url("images/theinnm.webp");
  }
}
