* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Domine", serif;
  color: #000000;
  font-size: 15px;
}
h1 {
  font-size: 1.7rem;
  font-family: "Gwendolyn", cursive;
  text-shadow: 2px 2px 0.5px #e9f5ff;
  line-height: 1.6rem;
}
h2 {
  font-family: "Gwendolyn", cursive;
  font-size: 2.5rem;
}
h3,
h4 {
  font-size: 2em;
}
p {
  line-height: 1.2rem;
}

/*====Top Header Section====*/
header {
  position: absolute;
  top: 40px;
  width: 100%;
  padding: 10px 20px 10px 90px;
  border-top: 4px solid #7294b2;
  background: linear-gradient(
    to right,
    rgba(239, 209, 219, 0.08),
    rgba(239, 209, 219, 0.6),
    rgba(239, 209, 219, 1)
  );
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: center;
}
header img {
  position: absolute;
  top: 10px;
  left: 20px;
  max-width: 55px;
}
.temple-banner {
  position: relative;
}

/*====Navigation Menu====*/
nav {
  background-color: #ecd1db;
  border-top: 4px solid #7294b2;
  border-bottom: 4px solid #7294b2;
  text-align: center;
  padding: 10px;
  font-size: 1.05rem;
}
nav ul li {
  max-width: 800px;
}
nav ul li a {
  display: block;
  padding: 12px;
  font-size: 1.05rem;
}
nav .active {
  font-weight: 700;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #7294b2;
}
.menu-link:hover {
  color: white;
  font-weight: bold;
}
nav li:hover a {
  color: #7294b2;
}
nav li:hover {
  background-color: white;
}
.menu {
  list-style: none;
  display: none;
}
.responsive {
  display: block;
  list-style: none;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #ecd1db;
}

/*====Footer====*/
footer {
  background-color: #324f69;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  padding-top: 15px;
}
footer section {
  display: grid;
  text-align: center;
}
footer h3 {
  line-height: 2.2rem;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
.bottom-logo {
  padding: 20px;
}
.social {
  padding: 10px 3px 20px 2px;
}
.address {
  line-height: 1.5rem;
  padding-bottom: 10px;
  font-weight: 600;
}
footer a:hover {
  text-decoration: underline;
}
.temple-foot, .sub-footer {
  padding: 0 0 20px 0;
}

/*======Buttons======*/
button {
  font-size: 1rem;
  color: white;
  background-color: #7294b2;
  border: 3px solid rgb(65, 81, 109);
  border-radius: 50px;
  padding: 8px 15px;
}
button:hover {
  color: #7294b2;
  background-color: #fff;
}
.serv-button {
  margin: 10px auto 25px;
}
.style-button {
  margin-top: 130px;
}
.reg-button {
  margin-top: 10px;
}
/*like Button*/
.temple-cards button {
  border: 2px solid rgb(65, 81, 109);
  padding: 4px 12px;
  border-radius: 0;
  margin-bottom: 30px;
}

/*====Styling Section====*/
.heading-banner {
  background: linear-gradient(
    to right,
    rgba(239, 209, 219, 0.2),
    rgba(239, 209, 219, 1)
  );
  border-top: 4px solid #7294b2;
  border-bottom: 4px solid #7294b2;
  font-family: "Gwendolyn", cursive;
  padding: 15px 3rem 15px;
  text-align: center;
  line-height: 2rem;
}
.black-border {
  border: 1px solid black;
}
.blue-border {
  border: 4px solid #7294b2;
}
.pink-background {
  background: linear-gradient(
    to top,
    rgba(239, 209, 219, 1),
    rgba(239, 209, 219, 0.1),
    rgba(239, 209, 219, 1)
  );
}
.blue-background {
  background: linear-gradient(
    to top,
    rgba(114, 148, 178, 0.2),
    rgba(114, 148, 178, 1)
  );
}
.spacer1 {
  margin-bottom: 75px;
}
.left {
  text-align: left;
}
.bold {
  font-weight: bold;
}
.box-shadow {
  box-shadow: 0px 0px 5px 5px rgb(81, 94, 114);
}
.outside {
  padding: 15px;
}
.block {
  margin: 0 auto;
}
.wh {
  padding: 50px;
  text-align: center;
}
.scroll-title {
  color: white;
  text-shadow: 2px 5px 5px black;
  line-height: 1.7rem;
  font-size: 3rem;
  text-align: center;
  padding: 50px 0 20px;
}
.sec-title {
  line-height: 2rem;
  font-size: 2rem;
  text-align: center;
  padding: 20px 15px 20px 15px;
}
.sec-image {
  line-height: 2.3rem;
  font-size: 2.2rem;
  text-align: center;
  padding-bottom: 20px;
}
/*================= HOME PAGE ===================*/
/*Welcome on Homepage*/
.little-image {
  border-radius: 150px 150px 0 0;
  border: 5px solid #7294b2;
  object-fit: cover;
  width: 100%;
  max-width: 250px;
}
.pill {
  border-radius: 0 80px 0 80px;
  border: 5px solid #7294b2;
  object-fit: cover;
  width: 100%;
  max-width: 250px;
}
/*Weather on Homepage*/
.weather-days {
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  gap: 20px;
}
.weather-days div {
  border: 1px solid white;
  padding: 20px;
  background-color: rgba(114, 148, 178, 0.3);
}
.weather-days h2 {
  font-size: 2rem;
}
.weather-days aside {
  font-size: 1.5rem;
}
.weather-days p {
  padding: 5px;
}
.weather-days img {
  width: 75px;
}
/*Alert Banner*/
#weatherAlerts {
  /*display: none;*/
  text-align: center;
  padding: 8px;
}
.alert-event {
  font-size: 1.8rem;
  font-weight: bolder;
}
#close {
  border: 1px solid black;
  padding: 1px 2px;
}
/*====Featured Temple on Homepage====*/
.feature-para {
  padding: 2rem;
  text-align: center;
}
/*Services on Home Page*/
.sp-services {
  text-align: center;
}
.sp-services p {
  padding: 2rem;
}
.serv-img {
  border-radius: 50%;
  border: 5px solid #7294b2;
  margin: 20px auto 0;
}

/*===========ATTRIBUTIONS PAGE=========*/
.contribute {
  padding: 40px;
}

/*============CONTACT PAGE============*/
.mobile-border {
  margin: 20px;
  padding: 15px;
}
.con-address {
  text-align: center;
}
.con2 img {
  margin: 40px 0 30px;
}
input.circle {
  width: 1.1rem;
  height: 1.1rem;
}
label input:required, label select:required {
  border-left: #7294b2 solid 6px;
}
label input:required:valid, label select:valid {
  border-left: #ba7b92 solid 6px;
}
legend {
  padding: 5px 10px;
  background-color: rgb(142, 102, 125);
  color: white;
}
fieldset {
  margin: 1rem;
  padding: 1rem;
}
input, select, textarea {
  display: block;
  padding: 10px 20px;
  margin: 3px 0 10px 0;
  font-size: 0.8rem;
}
label.check {
  display: flex;
}
label input, label select, label textarea, label select {
  background-color: #ffffff;
  width: 100%;
  display: block;
  border-radius: 4px;
}
form label.top input, form label.top select {
  max-width: 50rem;
}
.underline a {
  text-decoration: underline;
}

/*=========RESERVATIONS PAGE============*/

/*=============SERVICES PAGE=============*/
.service-grid {
  text-align: center;
}
.amenities p {
  margin: 10px 20px 50px 20px;
}
.amenities .sm-heading {
  font-size: 1.1rem;
  padding: 4px 0 4px;
  margin: 10px 0px 10px;
  background: linear-gradient(
    to left,
    rgba(114, 148, 178, 1),
    rgba(114, 148, 178, 0),
    rgba(114, 148, 178, 1)
  );
}
.amenities img {
  border: 5px solid #7294b2;
  align-content: center;
}
.special-services {
  text-align: center;
}

/*========TEMPLES & ROOMS PAGE=========*/
.temple-cards, .guest-rooms, .full-time {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
.tempDiv p, .roomDiv p {
  padding: 4px 20px;
}
.tempDiv img, .roomDiv img {
  object-fit: cover;
  width: 100%;
}
.tempDiv img {
  max-width: 500px;
}
.roomPic, .roomPic2 {
  max-width: 320px;
}
.tempDiv, .roomDiv {
  padding: 20px;
  margin: 20px 20px 0px 20px;
}
.c2 {
  padding-top: 20px;
  line-height: 1.4rem;
}
.tempName, .roomName {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 20px 0;
}
.tempPhone, .tempWeb {
  padding-top: 20px;
}
.card-line {
  margin: 20px;
  border: 2px solid #7294b2;
}
.more-temples {
  text-align: center;
}
.roomPrice {
  font-size: 1.5rem;
}
.roomCan {
  background-color: #324f69;
  color: white;
}

 /*=======PICTURE SLIDER==========*/
 .slide-container {
  max-width: 850px;
  padding: 15px;
  position: relative;
  margin: 20px 0px 20px;
}
.mySlides img {
  width: 100%;
  border: 4px solid #7294b2;
  object-fit: cover;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  color: white;
  top: 93%;
  font-size: 18px;
  font-weight: 900;
  padding: 1px 8px;
}
.text {
  text-align: center;
  font-size: .8rem;
}
.next {
  right: 3rem;
}
.prev {
  left: 3rem;
}

/*====Background Image Scrolls====*/
.scroll {
  position: static;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  margin: 0px;
  justify-items: center;
}
.scroll-lg {
  height: 300px;
}
.scroll-md {
  height: 200px;
}
.scroll-sm {
  height: 100px;
}
.scroll-auto {
  height: auto;
  border: 4px solid #7294b2;
  margin: 0 auto;
}
.scroll-background {
  height: 300px;
}
/*=======BACKGROUND SCROLL IMAGES======*/
.dc-scroll {
  background-image: url("images/dcps.webp");
}
.res-scroll {
  background-image: url("images/twins-s.webp");
}
.feature-scroll {
  background-image: url("images/dcdays.webp");
}
.temple-scroll {
  background-image: url("images/tucsons.webp");
}
.slc-scroll {
  background-image: url("images/slakes.webp");
}
.draper-scroll {
  background-image: url("images/drapers.webp");
}
.orl-scroll {
  background-image: url("images/thankss.webp");
}
.poca-scroll {
  background-image: url("images/poca-s.webp");
}
.amen-scroll {
  background-image: url("images/amenities-s.webp");
}
.lob-scroll {
  background-image: url("images/lobby-s.webp");
}
.peony-scroll {
  background-image: url("images/blush-s.webp");
}
.thanks-scroll {
  background-image: url("images/orlando-s.webp");
}
.room-scroll {
  background-image: url("images/japans.webp");
}
.weath-scroll {
  background-image: url("images/cloudys.webp");
}
.mission-scroll {
  background-image: url("images/theinns.webp");
}
.wedd-scroll {
  background-image: url("images/chairs.webp");
}
